:root {
    --bs-font-sans-serif: Roboto, sans-serif;
    --bs-body-font-weight: 400;
}

a {
    word-break: break-word;
    text-decoration: none;
}

@media print {
    body {
        font-size: 0.7rem;
    }

    a {
        text-decoration: underline;
    }

    .page {
        min-width: 100%;
    }

    .screen {
        display: none;
    }

    .card {
        border: none;
    }

    .card-body {
        padding: 0;
    }

    .badge {
        border: 0.07rem solid #868e96;
    }

    .badge.bg-primary {
        color: inherit;
        background-color: inherit;
    }

    .print-url {
        color: #deeef9;
        text-decoration: none;
        font-size: smaller;
    }

    .text-print-right {
        text-align: right;
    }
}

@media not print {
    .print {
        display: none;
    }

    @media (min-width: 576px) {
        .page {
            margin-top: 10px;
            margin-bottom: 10px;
            box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.75);
            position: relative;
            padding: 32px;
        }
    }

    h2 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    dt {
        font-weight: normal;
    }

    strong {
        font-weight: 500;
    }
}

.far,
.fab,
.fas,
.fa {
    text-decoration: none !important;
    margin-right: 5px;
}

.badge {
    font-weight: normal;
    letter-spacing: 0.05rem;
}

@media print {
    .col-print-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-print-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.fact-icon {
    width: 1em;
}

@page {
    size: auto;
    margin: 10mm;
}
